
@import 'styles.css';
.blogContainer{
    font-family: 'Fira Sans', sans-serif;
}

.blogItem{
    font-family: 'Source Code Pro', monospace;
    padding: 10px;
}
.blogItem h2{
    padding: 0px;
}
.blogItem p{
    padding: 7px;
}
.btn-sm{
    padding:8px 10px;
    border-radius: 30px;
    color: white;
    background-color: black;
    font-size: 16px;
    font-weight: bold;
    margin:0 8px;
    cursor: pointer;
}