
@import 'styles.css';
.main{
    height: 150vh;
}
.introContainer{
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.introContainer h2{
    padding-top: 10px;
}
.aboutme{
    padding-top: 400px;
}
.aboutme p{
    text-align: justify;
}
.education h4{
    padding-top: 10px;
}