@import 'styles.css';


.container {
    /* background-color: aqua; */
    height: 500vh;
    

}

.main {
    /* background-color: red; */
}

.infocontainer  {
    /* background-color: blue; */
    
}


.introContainer {
    /* background-color: green; */
    font-family: 'Fira Sans', sans-serif;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
}
.introContainer h2{
    padding-top: 10px;
}

.aboutmeContainer {
    /* background-color: yellow; */
}
.aboutmeContainer p{
    text-align: justify;
}

.myEducationContainer {
    /* background-color: gray; */
    padding-top: 10px;
}
.myEducationContainer h4{
    padding-top: 10px;
}
.myEducationContainer p{
    padding-top: 10px;
}

.mySkillsContainer {
    /* background-color: black; */
}
.mySkillsContainer h4{
    padding-top: 10px;
}
.mySkillsContainer p{
    padding-top: 10px;
}

.myCoursesContainer {
    /* background-color: blueviolet; */
}
.myCoursesContainer h4{
    padding-top: 10px;
}
.myCoursesContainer p{
    padding-top: 10px;
}
.udemy a{
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
}
.nptel a{
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
}
